In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('aula_2_exemplo_web_scraping/quotes.csv')

In [3]:
df.head()

                                                text           author
0  “The world as we have created it is a process ...  Albert Einstein
1  “It is our choices, Harry, that show what we t...     J.K. Rowling
2  “There are only two ways to live your life. On...  Albert Einstein
3  “The person, be it gentleman or lady, who has ...      Jane Austen
4  “Imperfection is beauty, madness is genius and...   Marilyn Monroe

In [5]:
df.author.value_counts()

Albert Einstein           10
J.K. Rowling               9
Marilyn Monroe             7
Mark Twain                 6
Dr. Seuss                  6
C.S. Lewis                 5
Jane Austen                5
Bob Marley                 3
Eleanor Roosevelt          2
Mother Teresa              2
Ralph Waldo Emerson        2
Suzanne Collins            2
Charles Bukowski           2
Ernest Hemingway           2
George R.R. Martin         2
Helen Keller               1
William Nicholson          1
George Bernard Shaw        1
Steve Martin               1
Friedrich Nietzsche        1
Khaled Hosseini            1
Alexandre Dumas fils       1
J.D. Salinger              1
Haruki Murakami            1
Charles M. Schulz          1
Jorge Luis Borges          1
E.E. Cummings              1
Thomas A. Edison           1
Madeleine L'Engle          1
Douglas Adams              1
Pablo Neruda               1
Harper Lee                 1
Garrison Keillor           1
Alfred Tennyson            1
Stephenie Meyer            1
Elie Wiesel                1
J.M. Barrie                1
W.C. Fields                1
James Baldwin              1
Martin Luther King Jr.     1
George Carlin              1
Jimi Hendrix               1
J.R.R. Tolkien             1
Terry Pratchett            1
André Gide                 1
John Lennon                1
Jim Henson                 1
Allen Saunders             1
Ayn Rand                   1
George Eliot               1
Name: author, dtype: int64